#auth-token-dialog
  table
    th, td
      &:first-child
        padding-left 1em
      &:last-child
        padding-right 1em
      &.name
        width 12em
      &.authorized
        width 10em
        text-align right
    thead
      th.authorized
        cursor pointer
    tbody
      tr
        cursor pointer
