#media-scans-list

  table
    th, td
      &.status
        .label
          font-size 0.9em
      &.fileCounts
        .label
          font-size 0.9em
    a
      &:hover
        text-decoration none

  .progress
    margin-bottom 0
    width 20em
