.gallery
  .thumbnail
    position relative
    .ownership-overlay
      position absolute
      bottom 0
      left 0
      right 0
      padding 0.4em
      z-index 5
      opacity 0.75
      background-color #000000
      text-align center
      color #ffffff
      font-weight bold
      p
        margin 0.4em 0 0 0
    .overlays
      .overlay, .icon-overlay
        position absolute
        top 0
        bottom 0
        left 0
        right 0
      .overlay
        z-index 10
        opacity 0.5
        background-color #000000
      .icon-overlay
        padding-top 2em
        z-index 15
        text-align center
        .glyphicon
          font-size 3em
          color #00ff00
        &.transitive
          .glyphicon
            color #6699ff

.gallery-filters
  margin-bottom 1em
