#image-stats
  table
    th
      width 33.33%
      &.separator
        text-align center
    th, td
      vertical-align middle
    th
      padding-right 1em
      text-align right
    td
      padding-left 1em
      text-align left
      &.action, &.empty
        text-align center
    tr.orphan, tr.upload-error
      th
        img
          width 100%
  .upload-error-links
    margin-top 1em
