#media-ident-dialog
  .progress
    margin-top 1em
  .selected-url
    .help-block
      margin-bottom 0
  .modal-header
    .status
      margin-top 20px
    .label
      font-size 1em
  .search-results
    margin-top 2em
    h4
      small
        margin-left 1em
    table
      td
        .glyphicon
          font-size 2em
