.thumbnail
  > img
    width 100%

.workInfo
  .itemInfo
    td.itemThumbnail
      width 100px
      img
        width 100px
  .image
    img
      width 100%

.ownDialogPopover
  width 12em

#workForm
  .relationships
    .relationship
      .form-group
        margin-bottom 0
