#show-media-scan-dialog

  .stack-trace
    max-height 300px

  .list-group
    margin-bottom 0

    .list-group-item
      .badge
        margin-right 1em

  .pagination
    margin-top 0
    margin-bottom 0
