#media-urls-list
  .filters
    margin-bottom 1em
    .checkbox
      display inline
      margin-left 1em
    #media-urls-provider
      width 15em
      .form-control
        width 100%
    #media-urls-provider-id
      width 10em
    #media-urls-search
      width 20em
    .form-section
      margin-top 1em
  table
    th, td
      vertical-align middle
      &.provider
        width 10em
      &.status
        width 20em
        .warnings
          margin-left 0.6em
    .label
      font-size 0.9em
    a
      .label
        &:hover
          text-decoration underline
