#collections-list
  h1
    small
      margin-left 1em
  .empty
    font-size 1.4em

#edit-collection
  .tab-content
    margin-top 1em

.show-collection
  h1
    margin 1em
    font-size 1.4em
    small
      display block
      margin-top 0.4em
  .thumbnail
    > img
      width 100%
    .caption
      h3
        margin 2em 0
        text-align center

.collection-preview
  .avatar
    float left
    margin-right 1em
  .panel-heading
    h3
      line-height 30px
      small
        margin-left 1em
        font-size 0.8em
        color #777777
  .panel-body
    p.empty
      margin-bottom 0
