#editItem
  .range
    label
      display block
    input
      display inline
      width 5em
    .checkbox
      display inline
      label
        display inline
        input
          margin-top 10px
          margin-bottom 10px
