#supported-scrapers
  table
    th, td
      vertical-align middle
      p:last-child
        margin-bottom 0
      &.provider
        .label
          font-size 0.9em

#scraping-error
  .label
    font-size 0.9em
  pre.stack-trace
    max-height 250px
    margin-bottom 1em
  pre.contents
    max-height 350px
  h4
    margin-top 1em
